  <form [formGroup]="registerForm" >
    <mat-form-field class ="">
      <input matInput  name="email" (change)="onEmailChange($event)"  formControlName="emailAccount"  type="{{firstInputType}}" placeholder={{emailPlaceHolder}} >
      <mat-error>
        <span *ngIf="!isEmailValid">{{emailError}}</span>
    </mat-error>
    </mat-form-field>
    <mat-form-field class= "password-textbox">
      <input type="{{secondInputType}}" (change)="onPasswordChange($event)" formControlName="inputPassword" name="password"  matInput placeholder="{{passwordPlaceHolder}}">
    </mat-form-field>
  </form>

